h1, h2, h3, p, ul, ol {
    /* removes default margin/padding from these elements*/
    margin: 0;
    padding: 0;
}

nav img {
    /* sets images as block elements and makes sure they don't bust out of their containers, and that they maintain their aspect ratio. */
    display: block;
    max-width: 100%;
    height: auto;

}

nav ul, nav ol {
    /* removes bulletpoints */
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #0e1e61;
}

a:hover {
    background-color: #95c0ff;
    color: #FFFFE8;
}

body {
    margin: 3em;
}

ul {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul li a {
    padding: 1em;
}

.container {
  display: grid;
  /* 2 columns, overflow creates another row */
  grid-template-columns: 1fr 1fr; 
  gap: 1em;
}